body{
    background-image: url(../images/banner.jpg);
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.body h1{
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}